# R session files
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Local renv package library
code/renv/library/

# Non-shareable raw data
raw-data/

# Large/generated intermediate data
temp.rds
output-data/

# Generated outputs
output/
